{% extends "base.html.twig" %}

{% block main %}
    {% if app.user is not null and is_granted("ROLE_ADMIN") %}
        <a href="{{ path('add') }}" style="color: white">
            <button class="btn btn-primary">Ajouter</button>
        </a>
    {% endif %}
    <!--A refaire-->
    {% if app.user is not null %}
        {% if paniers is not empty %}
            <h1>Panier</h1>
            <table>
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for panier in paniers %}
                    <tr>
                        <th>{{ panier.produit.nom }}</th>
                        <th>{{ panier.quantite }}</th>
                        <th>
                            <form action="{{ path('panier_delete_panier', {'id': panier.produit.id}) }}" method="post">
                                <input type="submit" class="btn btn-danger" value="Supprimer">
                                <input type="hidden" value="{{ csrf_token("deleteProduitOnPanier") }}" name="token">
                                <input type="hidden" value="DELETE" name="_method">
                            </form>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <form action="{{ path('ligne_commande_add') }}" method="post">
                    <input type="submit" class="btn btn-success" value="Convertion">
                    <input type="hidden" value="{{ csrf_token("convertionOnCommande") }}" name="token">
                </form>
                <form action="{{ path('panier_delete_all') }}" method="post">
                    <input type="submit" class="btn btn-danger" value="Vider le panier">
                    <input type="hidden" value="{{ csrf_token("deleteAllProduitOnPanier") }}" name="token">
                    <input type="hidden" value="DELETE" name="_method">
                </form>
            </div>
        {% endif %}
    {% endif %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Photo</th>
            <th scope="col">Stock</th>
            <th scope="col">Date de lancement</th>
            <th scope="col">Type produit</th>
            {% if app.user is not null %}
                {% if is_granted("ROLE_USER") and is_granted("ROLE_ADMIN") %}
                    <th scope="col" colspan="3">Opérations</th>
                {% elseif is_granted("ROLE_USER") %}
                    <th scope="col">Opérations</th>
                {% elseif is_granted("ROLE_ADMIN") %}
                    <th scope="col" colspan="2">Opérations</th>
                {% endif %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <th>{{ produit.nom }}</th>
                <td>{{ produit.prix }}€</td>
                <!--A refaire-->
                <td><img src="{{ asset('uploads/images/produits/' ~ produit.photo) }}" alt="{{ produit.nom }}" style="width: 200px; height: 200px"></td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.dateLancement | date("d/m/Y")}}</td>
                <td>{{ produit.typeProduit.libelle }}</td>
                {% if app.user is not null %}
                    {% if is_granted("ROLE_USER") %}
                        <td>
                            <form action="{{ path('panier_addProduit', {'id': produit.id}) }}" method="post">
                                <input type="submit" class="btn btn-primary" value="Ajouter au panier">
                                <input type="hidden" value="{{ csrf_token("addProduitOnPanier") }}" name="token">
                            </form>
                        </td>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a href="{{ path('edit', {id: produit.id}) }}" class="btn btn-primary">Modifier</a>
                        </td>
                        <td>
                            <form action="{{ path('delete') }}" method="POST" style="display:inline">
                                <input type="hidden" name="id" value="{{ produit.id }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-warning" onclick="if(!confirm('Êtes-vous sûr ?')) { return false; }">Supprimer</button>
                            </form>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}