{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('script.js') }}" defer></script>
{% endblock %}

{% block main %}
    <a href="{{ path('user_index') }}" style="display: block"><button class="btn btn-primary" style="margin-top: 15px; margin-bottom: 15px">Retour</button></a>
    <div style="display: inline-flex; width: 100%;">
        <div style="width: 45%">
            <table class="table js-commande">
                <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>id</th>
                    <th colspan="2">Etat</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    {% set somme = 0 %}
                    <tr>
                        <td>{{ commande.date | date("d/m/Y") }}</td>
                        {% for lc in commande.ligneCommandes %}
                            {% set somme = somme + lc.prix %}
                        {% endfor %}
                        <td>{{ somme }}</td>
                        <td>{{ commande.id }}</td>
                        <td>{{ commande.etat.nom }}</td>
                        {% if is_granted("ROLE_ADMIN") and commande.etat.nom != "Expédier" %}
                            <td><form method="post" action="{{ path('commande_valide_commande', {'id': commande.id}) }}"><input type="submit" class="btn btn-danger" value="Expedier"></form></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td><button class="btn btn-primary" onclick="seeCommande('{{ "commande"~commande.id~"-js" }}')">Voir les details</button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% for commande in commandes %}
            <div style="width: 45%; display: none" class="detail-js" id="{{ "commande"~commande.id~"-js" }}">
                <table class="table js-commande">
                    <thead class="thead-dark">
                    <tr>
                        <th>Nom produit</th>
                        <th>Quantité</th>
                        <th>Prix</th>
                        <th>Prix total</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% set somme = 0 %}
                    {% for lc in commande.ligneCommandes %}
                        <tr>
                            <td>{{ lc.produit.nom }}</td>
                            <td>{{ lc.quantite }}</td>
                            <td>{{ lc.prix / lc.quantite }}</td>
                            <td>{{ lc.prix }}</td>
                            <td>{{ lc.produit.photo }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% for lc in commande.ligneCommandes %}
                    {% set somme = somme + lc.prix %}
                {% endfor %}
                <div>Prix total : {{ somme }}€</div>
                <div>{{ commande.user.username }}</div>
                <div>{{ commande.user.email }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

