{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="/public/script.js"></script>
{% endblock %}

{% block main %}



    <a href="{{ path('user_index') }}"><button class="btn btn-primary" style="margin-top: 15px; margin-bottom: 15px">Retour</button></a>
    {% for commande in commandes %}
        {% set totalPriceCommande = 0 %}
        <h1 style="text-align: center"><button id="togg1" style="display:block;width:100%;height:100%;">Commande n°{{ commande.id }}</button></h1>

        <table id="d1" class="table">
            <thead class="thead-dark">
            <tr>
                <th>Nom produit</th>
                <th>Quantité</th>
                <th>Etat</th>
                <th>Prix</th>
                <th>Prix Total</th>
                <th>Opérations</th>
            </tr>
            </thead>
            <tbody>
                {% for lc in commande.ligneCommandes %}
                    <tr>
                        <td>{{ lc.produit.nom }}</td>
                        <td>{{ lc.quantite }}</td>
                        <td>{{ commande.etat.nom }}</td>
                        <td>{{ lc.prix }}€</td>
                        {% set totalPriceCommande = totalPriceCommande + lc.quantite * lc.prix %}
                        <td>{{ lc.quantite * lc.prix }}€</td>
                        <td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Toutes les commandes</td>
                <td colspan="3"></td>
                <td>{{ totalPriceCommande }}€</td>
                {% if(is_granted("ROLE_ADMIN")) %}
                    <td>
                        <form action="{{ path('commande_valide_commande', {'id': commande.id}) }}" method="post">
                            <input type="submit" class="btn btn-primary" value="Valider">
                        </form>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            </tfoot>
        </table>
    {% endfor %}
{% endblock %}

